<div style="text-align: center;">
	<img src="{{ site.url }}{{ site.baseurl }}/dhruv.jpg" class="img-responsive img-circle" />
	<div>
		<p><i>Passionate about science, ethics, philosophy, and music.</i></p>
	</div>
	<div class="center-block socialfoot" id="socialButtons">
        <a href="mailto:dhruv.kumar@uwaterloo.ca"><img class="socialicon social-fade" src="{{ site.url }}{{ site.baseurl }}/images/social/close-envelope.svg"/></a>
        <a href="https://twitter.com/dhruvkr1993"><img class="socialicon social-fade" src="{{ site.url }}{{ site.baseurl }}/images/social/twitter.svg"/></a> 
        <a href="http://www.github.com/ddhruvkr" target="_blank"><img class="socialicon social-fade" src="{{ site.url }}{{ site.baseurl }}/images/social/github-logo.svg"/></a>  
        <!--<a href="doc/resume.pdf"><img class="socialicon social-fade" src="{{ site.url }}{{ site.baseurl }}/images/social/curriculum.svg"/></a>-->
        <a href="https://www.linkedin.com/in/dhruv-kumar-1a519383/" target="_blank"><img class="socialicon social-fade" src="{{ site.url }}{{ site.baseurl }}/images/social/linkedin-logo.svg"/></a>
        <a href="https://www.facebook.com/ddhruvkr" target="_blank"><img class="socialicon social-fade" src="{{ site.url }}{{ site.baseurl }}/images/social/facebook-letter-logo.svg"/></a>
    </div>
 

</div>